.Pokedex-cards{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}  

.Pokedex-winner{
     color:#4caf50;
} 

.Pokedex-loser {
   color:#e91e63;
} 

.Pokecard-image{
    display:flex;
    justify-content:center;
    align-items:center;
    height:250px;
    background-color:#eceff1;
    border-radius:3px;
    margin-bottom:1rem;
}